:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: #ffffff;
  --background-color-hero: #2f303a;
  --color-logo: #000000;
  --color-hero-button: #188ce8;
  --background-section-team: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --border-header: 1px solid #ececec;
  --border-image: 1px solid #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */

.header-page {
  border-bottom: var(--border-header);
}

.container-header {
  display: flex;
}

.container-nav {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: 90px;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link.current {
  color: var(--accent-color);
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.container-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link:hover .icon-contact,
.contact-link:focus .icon-contact {
  fill: var(--accent-color);
}

.icon-contact {
  margin-right: 10px;
}

/* ГЕРОЙ */

.section-hero {
  margin: 0 auto;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;

  text-align: center;

  background-color: var(--background-color-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-hero-button);
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: transparent;
  letter-spacing: 0.06em;
  color: var(--secondary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* СЕКЦИИ */

.section {
  padding: 94px 0;
}

/* ОСОБЛИВОСТІ */
.title-section {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.container-peculiarities {
  display: flex;
}

.peculiarities-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.peculiarities-item:last-child {
  margin-right: 0;
}

.peculiarities-item::before {
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;

  display: block;
}

/* иконки */

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.peculiarities-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.peculiarities-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Чим ми займаємося */

.section-occupation {
  padding-bottom: 95px;
}

.container-occupation {
  display: flex;
}

.occupation-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.occupation-item:last-child {
  margin-right: 0;
}

/* Наша команда */

.team-section {
  background-color: var(--background-section-team);
}

.team-list {
  display: flex;
}

.team-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  text-align: center;
  background-color: var(--secondary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.box-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.icon-team-list {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.icon-team-item {
  height: 44px;
}

.icon-team-link {
  margin: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: var(--accent-color);
}

.icon-team-link:hover .icon-team,
.icon-team-link:focus .icon-team {
  fill: white;
}

.icon-team {
  fill: #afb1b8;
}

/* Постійні клієнти */

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  height: 92px;
}

.icon-clients-link {
  height: 92px;
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-clients-link:hover,
.icon-clients-link:focus {
  border-color: var(--accent-color);
}

.icon-clients {
  fill: #afb1b8;
}

.icon-clients-link:hover .icon-clients,
.icon-clients-link:focus .icon-clients {
  fill: var(--accent-color);
}

/* футер */

.footer-section {
  padding: 60px 0;
  background: var(--background-color-hero);
}

.box-footer {
  display: flex;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  text-decoration: none;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-address {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.box-footer-right {
  margin-left: 70px;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.icon-footer-item {
  height: 44px;
}

.icon-footer-link {
  margin: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  fill: var(--secondary-white-color);
}

/* п о р т ф о л и о */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 10px;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  color: var(--title-text-color);
  cursor: pointer;
  display: block;
  text-align: center;
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--secondary-white-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* карточки */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  text-decoration: none;
}

.box-portfolio {
  padding: 20px 24px;
  border-left: var(--border-image);
  border-right: var(--border-image);
  border-bottom: var(--border-image);
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
